@charset "UTF-8";

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-facebook2:before {
  content: "\ea91";
}

._icon-instagram:before {
  content: "\ea92";
}

._icon-twitter:before {
  content: "\ea96";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 22px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  color: #000;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1703px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  display: block;
  border: 1px solid #fff;
  padding: 0px 0px;
  height: 53px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.14em;
  line-height: 1.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.button._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.header._scroll .header__wrapper {
  padding: 15px 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.header__wrapper {
  padding-top: 44px;
  padding-bottom: 44px;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  z-index: 50;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__main {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 423px;
          flex: 0 1 423px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__link {
  position: relative;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.14em;
  color: #ffffff;
  -webkit-transition: color 0.5s ease 0s;
  -o-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
}

.header__link::before {
  content: "";
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  position: absolute;
  bottom: -5%;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #ffb774;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/

.footer {
  padding: 94px 0 108px 0;
  padding-top: 94px;
  padding-bottom: 94px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 66px;
}

.footer__link a {
  line-height: 1.6;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.14em;
  color: #000000;
  font-size: 22px;
}

.footer__link:not(:last-child) {
  margin-right: 56px;
}

.footer__company {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.34em;
  margin-bottom: 19px;
  text-transform: uppercase;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.14em;
  padding-right: 10px;
  text-transform: uppercase;
}

.footer__rights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid #000;
  padding-left: 10px;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.14em;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._no-webp .travel{
  background: url("../img/travel/01.jpg") center no-repeat; }

.travel {
  min-height: 100%;
}

.travel__body {
  padding: 150px 0 0 0;
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.travel__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
}

.travel__title {
  color: #fff;
  font-size: 100px;
  line-height: 1.2;
  font-weight: 700;
  margin: 0 0 21px 0;
}

.travel__text {
  color: #fff;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.14em;
  margin: 0 0 21px 0;
}

.travel__button {
  width: 294px;
  color: #fff;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.travel__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  right: -1%;
  top: 25%;
}

.travel__link {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #fff;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.travel__link:not(:last-child) {
  margin: 0 0 201.3% 0;
}

.travel__link::before {
  font-size: 30px;
  display: none;
}

.about {
  padding-top: 56px;
  padding-bottom: 56px;
}

.about__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__content {
  position: relative;
  max-width: 815px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 15px 0 0;
}

.about__lable {
  font-size: 22px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.14em;
  color: #c4c4c4;
  margin: 0 0 32px 0;
}

.about__title {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.14em;
  margin: 0 0 54px 0;
  max-width: 640px;
}

.about__text {
  margin: 0 0 64px 0;
  margin-bottom: 64px;
}

.about__text p {
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.14em;
  color: #5b5b5c;
}

.about__text p:not(:last-child) {
  margin-bottom: 54px;
}

.about__btn {
  border: 1px solid #000;
  width: 294px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.about__img {
  min-width: 40.9864944216%;
  padding: 0 0 57.9% 0;
}

.photos {
  padding-top: 105px;
}

.photos__title {
  font-size: 31.9px;
  font-size: 31.9px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.24em;
  color: #000000;
  text-align: center;
  margin: 0 0 36px 0;
}

.photos__text {
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.14em;
  color: #5b5b5c;
  font-size: 28px;
  font-size: 28px;
  max-width: 1014px;
  margin: 0 auto;
  text-align: center;
}

.photos__slider {
  min-width: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-photos__body {
  padding-top: 97px;
  padding-bottom: 122px;
  padding: 97px 0 122px 0;
  width: 100%;
}

.slider-photos__slide {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
  grid-template-rows: repeat(3, 1fr);
  gap: 37px;
}

.slider-photos__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 37px auto 37px auto;
      grid-template: 447px/repeat(3, auto);
      grid-template-areas: "first second third";
  gap: 37px;
}

.slider-photos__image {
  height: 100%;
  width: 100%;
}

.slider-photos__image:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: first;
}

.slider-photos__image:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: second;
}

.slider-photos__image:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: third;
}

.slider-photos__image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 100%;
  -o-object-position: center;
     object-position: center;
}

.slider-photos__controls {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-photos__dotts {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.14em;
  color: #c5c5c5;
}

.slider-photos__dotts .swiper-pagination-total {
  color: #000;
}

.slider-photos__arrows {
  position: absolute;
  color: #c5c5c5;
  top: 0;
  font-size: 32px;
  cursor: pointer;
}

.slider-photos .photos-arrows {
  width: 270px;
}

.slider-photos .photos-arrows__prev {
  position: absolute;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  left: 0;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.slider-photos .photos-arrows__next {
  position: absolute;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  right: 0;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.company {
  padding-top: 165px;
  padding-bottom: 165px;
}

.company__title {
  font-size: 31.9px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.24em;
  text-align: center;
  margin-bottom: 36px;
  font-size: 31.9px;
}

.company__text {
  max-width: 1010px;
  margin: 0 auto;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.14em;
  color: #5b5b5c;
  text-align: center;
  font-size: 28px;
}

.company__body {
  margin-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 17px;
}

.company__item {
  margin: 0 -17px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-company__image {
  padding: 0 0 51.4007308161% 0;
}

.item-company__wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-company__content {
  padding-top: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 700px;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-company__title {
  margin-bottom: 50px;
  font-size: 19.2px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.2em;
}

.item-company__text {
  font-size: 19px;
  line-height: 41px;
  line-height: 41px;
  font-weight: 400;
  letter-spacing: 0.2em;
  color: #848484;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-company__btn {
  margin: 103px 0 0 0;
  margin-top: 103px;
  font-size: 16px;
  line-height: 41px;
  font-weight: 400;
  letter-spacing: 0.2em;
  background-color: #dddcdc;
  color: #000;
  width: 221px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.adventure__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.adventure__image {
  padding: 0 0 58.1% 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 41.2432755529%;
          flex: 0 1 41.2432755529%;
  min-width: 340px;
  -o-object-position: bottom;
     object-position: bottom;
}

.adventure__content {
  max-width: 820px;
  padding: 0 0 25px 25px;
  padding-top: 168px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.adventure__subtitle {
  font-size: 22px;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.14em;
  color: #c4c4c4;
  margin-bottom: 32px;
}

.adventure__title {
  font-size: 30px;
  margin-bottom: 49px;
  line-height: 41px;
  font-weight: 500;
  letter-spacing: 0.14em;
}

.adventure__text p {
  font-size: 22px;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.14em;
  color: #5b5b5c;
}

.adventure__text p:not(:first-child) {
  margin-top: 52px;
}

.book {
  background-color: #f4f4f4;
  padding-top: 155px;
  padding-bottom: 155px;
}

.book__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.book__content {
  padding-left: 58px;
  width: 100%;
  max-width: 41.2432755529%;
  padding-right: 15px;
}

.book__title {
  line-height: 41px;
  font-weight: 500;
  letter-spacing: 0.14em;
  font-size: 31px;
  margin-bottom: 24px;
  text-align: center;
}

.book__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.14em;
  color: #5b5b5c;
}

.book__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.book__form .input:not(:last-child) {
  margin-right: 59px;
}

.book__btn {
  position: relative;
  min-width: 247px;
  height: 71px;
  line-height: 1.2;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.14em;
  color: #fff;
  background-color: #3a4047;
  border: 2px solid #3a4047;
}

.book__btn::before {
  content: "SEND";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 0.14em;
  color: #000;
  line-height: 1.2;
  position: absolute;
  background-color: #3ecbee;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.2s ease 0s;
  transition: -webkit-transform 0.2s ease 0s;
  -o-transition: transform 0.2s ease 0s;
  transition: transform 0.2s ease 0s;
  transition: transform 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
}

.input {
  background-color: #f4f4f4;
  height: 71px;
  border: 2px solid #7a7a7a;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.14em;
  color: #3a4047;
  font-size: 22px;
  min-width: 247px;
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1715px) {
  .adventure__content {
    padding-top: 15px;
  }
}

@media (max-width: 1703px) {
  .header__wrapper {
    padding-top: calc(22px + 22 * ((100vw - 320px) / 1383));
  }

  .header__wrapper {
    padding-bottom: calc(22px + 22 * ((100vw - 320px) / 1383));
  }

  .footer {
    padding-top: calc(15px + 79 * ((100vw - 320px) / 1383));
  }

  .footer {
    padding-bottom: calc(15px + 79 * ((100vw - 320px) / 1383));
  }

  .footer__list {
    margin-bottom: calc(33px + 33 * ((100vw - 320px) / 1383));
  }

  .footer__link:not(:last-child) {
    margin-right: calc(28px + 28 * ((100vw - 320px) / 1383));
  }

  .travel__title {
    font-size: calc(60px + 40 * ((100vw - 320px) / 1383));
  }

  .travel__text {
    font-size: calc(22px + 8 * ((100vw - 320px) / 1383));
  }

  .about {
    padding-top: calc(28px + 28 * ((100vw - 320px) / 1383));
  }

  .about {
    padding-bottom: calc(28px + 28 * ((100vw - 320px) / 1383));
  }

  .about__text {
    margin-bottom: calc(32px + 32 * ((100vw - 320px) / 1383));
  }

  .about__text p:not(:last-child) {
    margin-bottom: calc(16px + 38 * ((100vw - 320px) / 1383));
  }

  .photos {
    padding-top: calc(10px + 95 * ((100vw - 320px) / 1383));
  }

  .photos__title {
    font-size: calc(24px + 7.9 * ((100vw - 320px) / 1383));
  }

  .photos__text {
    font-size: calc(18px + 10 * ((100vw - 320px) / 1383));
  }

  .slider-photos__body {
    padding-top: calc(20px + 77 * ((100vw - 320px) / 1383));
  }

  .slider-photos__body {
    padding-bottom: calc(20px + 102 * ((100vw - 320px) / 1383));
  }

  .slider-photos__slide {
    gap: calc(15px + 22 * ((100vw - 320px) / 1383));
  }

  .slider-photos__row {
    gap: calc(15px + 22 * ((100vw - 320px) / 1383));
  }

  .slider-photos__dotts {
    font-size: calc(24px + 6 * ((100vw - 320px) / 1383));
  }

  .slider-photos__arrows {
    font-size: calc(22px + 10 * ((100vw - 320px) / 1383));
  }

  .company {
    padding-top: calc(40px + 125 * ((100vw - 320px) / 1383));
  }

  .company {
    padding-bottom: calc(20px + 145 * ((100vw - 320px) / 1383));
  }

  .company__title {
    margin-bottom: calc(18px + 18 * ((100vw - 320px) / 1383));
  }

  .company__title {
    font-size: calc(24px + 7.9 * ((100vw - 320px) / 1383));
  }

  .company__text {
    font-size: calc(18px + 10 * ((100vw - 320px) / 1383));
  }

  .company__body {
    margin-top: calc(32px + 33 * ((100vw - 320px) / 1383));
  }

  .item-company__content {
    padding-top: calc(15px + 51 * ((100vw - 320px) / 1383));
  }

  .item-company__title {
    margin-bottom: calc(15px + 35 * ((100vw - 320px) / 1383));
  }

  .item-company__text {
    line-height: calc(20px + 21 * ((100vw - 320px) / 1383));
  }

  .item-company__btn {
    margin-top: calc(20px + 83 * ((100vw - 320px) / 1383));
  }

  .adventure__content {
    padding-top: calc(15px + 153 * ((100vw - 320px) / 1383));
  }

  .adventure__subtitle {
    font-size: calc(18px + 4 * ((100vw - 320px) / 1383));
  }

  .adventure__subtitle {
    margin-bottom: calc(16px + 16 * ((100vw - 320px) / 1383));
  }

  .adventure__title {
    font-size: calc(22px + 8 * ((100vw - 320px) / 1383));
  }

  .adventure__title {
    margin-bottom: calc(10px + 39 * ((100vw - 320px) / 1383));
  }

  .adventure__text p {
    font-size: calc(16px + 6 * ((100vw - 320px) / 1383));
  }

  .adventure__text p:not(:first-child) {
    margin-top: calc(15px + 37 * ((100vw - 320px) / 1383));
  }

  .book {
    padding-top: calc(5px + 150 * ((100vw - 320px) / 1383));
  }

  .book {
    padding-bottom: calc(5px + 150 * ((100vw - 320px) / 1383));
  }

  .book__content {
    padding-left: calc(29px + 29 * ((100vw - 320px) / 1383));
  }

  .book__title {
    font-size: calc(24px + 7 * ((100vw - 320px) / 1383));
  }

  .book__title {
    margin-bottom: calc(10px + 14 * ((100vw - 320px) / 1383));
  }

  .book__btn {
    height: calc(60px + 11 * ((100vw - 320px) / 1383));
  }

  .input {
    height: calc(60px + 11 * ((100vw - 320px) / 1383));
  }
}

@media (max-width: 1500px) {
  .book__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .book__form .input:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media (max-width: 991.98px) {
  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .travel__social {
    right: 20px;
    top: 12%;
  }

  .travel__link {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .travel__link span {
    display: none;
  }

  .travel__link:not(:last-child) {
    margin: 0 0 30px 0;
  }

  .travel__link::before {
    display: block;
    color: #fff;
  }

  .about__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 -45px;
  }

  .about__content {
    padding: 25px 45px;
    max-width: 100%;
  }

  .about__lable {
    margin-bottom: 32px;
    color: #e4e2e2;
  }

  .about__title {
    margin-bottom: 54px;
    color: #fff;
  }

  .about__text p {
    font-size: 22px;
    color: #e9e9e9;
  }

  .about__btn {
    border: 1px solid #fff;
    color: #fff;
    margin-bottom: 20px;
  }

  .about__img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
  }

  .about__img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }

  .slider-photos__row {
    -ms-grid-columns: (auto)[2];
        grid-template: 347px 447px/repeat(2, auto);
        grid-template-areas: "first second" "third third";
  }

  .slider-photos__image:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .slider-photos__image:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .slider-photos__image:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
}

@media (max-width: 991.98px) and (max-width: 1703px) {
  .about__lable {
    margin-bottom: calc(20px + 12 * ((100vw - 320px) / 1383));
  }

  .about__title {
    margin-bottom: calc(20px + 34 * ((100vw - 320px) / 1383));
  }

  .about__text p {
    font-size: calc(18px + 4 * ((100vw - 320px) / 1383));
  }
}

@media (max-width: 900px) {
  .adventure__container {
    margin: 0 0 0 -15px;
  }
}

@media (max-width: 800px) {
  .adventure__image {
    min-width: 40%;
  }

  .book__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .book__content {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 25px;
    padding: 0;
  }
}

@media (max-width: 767.98px) {
  .travel__body {
    padding-bottom: 50px;
    padding-top: 200px;
  }
}

@media (max-width: 767.98px) and (max-width: 1703px) {
  .travel__body {
    padding-top: calc(250px + -50 * ((100vw - 320px) / 1383));
  }
}

@media (max-width: 700px) {
  .company__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .company__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .adventure__image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .adventure__image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  .adventure__subtitle {
    color: #e6e4e4;
  }

  .adventure__title {
    color: #ffffff;
  }

  .adventure__text p {
    color: #e6e4e4;
  }
}

@media (max-width: 550px) {
  .footer__link {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__link:not(:last-child) {
    margin-right: 0;
  }
}

@media (max-width: 500px) {
  .footer__text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }

  .footer__rights {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }

  .photos__container {
    margin: 0 -15px;
  }

  .slider-photos__row {
    -ms-grid-columns: auto;
        grid-template: repeat(3, auto)/auto;
        grid-template-areas: "first" "second" "third";
  }

  .item-company__image {
    margin: 0 -15px;
  }

  .slider-photos__image:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .slider-photos__image:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .slider-photos__image:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
}

@media (any-hover: hover) {
  .header__link:hover {
    color: #ffb774;
  }

  .header__link:hover::before {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }

  .travel__button:hover {
    background: rgba(0, 0, 0, 0.2);
  }

  .travel__link:hover {
    color: #ffb774;
  }

  .about__btn:hover {
    background-color: #000;
    color: #fff;
  }

  .slider-photos .photos-arrows__prev:hover {
    color: #000;
  }

  .slider-photos .photos-arrows__next:hover {
    color: #000;
  }

  .item-company__btn:hover {
    background-color: #000;
    color: #fff;
  }

  .book__btn:hover::before {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
}

@media (max-height: 900px) {
  .travel__social {
    right: 20px;
    top: 12%;
  }

  .travel__link {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .travel__link span {
    display: none;
  }

  .travel__link:not(:last-child) {
    margin: 0 0 30px 0;
  }

  .travel__link::before {
    display: block;
    color: #fff;
  }
}

._webp .travel{ background: url(../img/travel/01.webp) center no-repeat; }